*{
    margin: 0;
    padding: 0; 
    /* display: flex;  */

}

.background{
    
    width: 100%;
    height: 100%;

  background-color: #EED4A3;
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
}


.Main img{ 
    position: relative;
    width: auto;
    height: 300px;
    z-index: 1; 
    /* Main ramen*/
    display: flex;
    float: none;
    padding-left: 300px;
}
.Main{
    position: relative;
    padding-right: 170px;
    padding-left: 170px;
    padding-bottom: 150px;
    /* justify-content: right; */
    overflow: hidden;
    float: none;
}

.Main h1{
    float: left;
    padding-top: 45px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 70px;
    color: #cd483e;
    /* font-weight: 485; */
}

.MainButton {
    top: 5px;
    border: none;
    color: white;
    padding: 14px ;
    overflow: hidden;
    text-align: center;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    background-color: #E4673D;
    border-radius: 40%;
    z-index: 1;
    bottom: 90%;
    object-position:  center  center;

  }


.navigationBar{

    position: relative;
    padding: 20px;
    justify-content: right;
    overflow: hidden;
    /* width: 100%;
    padding-left: 100%; */
    float: right;
    font-size: 20px;
     opacity: 1;
     color: #E4673D;
     align-items: center center;

}

.navigationBar img{
    display: flex;
    position: relative;
    /* kalo kegedean */
    width:  200px;
    height: auto;
    /* padding-bottom: 45px; */
    /* justify-content: center; */
   float:left;
   padding-right: 660px;
    /* Logo */
}
.navigationBar a {
    /* float: left; */
     opacity: .8;
    text-align: right; 
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #e4673d9a;
    font-family: 'Reem Kufi', sans-serif;
    position: relative;
    float:left;
     top: 18px;
    /* left: 10px; */ 
  }


.navigationBar a:hover {
    /* background-color: #E4673D; */
    color: #E4673D;
    /* opacity: 1; */

  }

.navigationBar a.active {
    color: #cd483e;
    opacity: 1;
    text-decoration-line: bold;

  }
  
.mission{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mission h1{
    float: left;
    padding-top: 45px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 45px;
    color: #cd483e;
    /* font-weight: 485; */
}

.Kotak1{
      width: 920px;
      height: 450px;
      background-color: #FFEAC3;
      border-radius: 15px;
      display: flex;
        justify-content: center;
        align-items: center;
        
        
  }
.Kotak1 p{
    display: flex;
  padding: 55px;
  color: #cd483e;
    font-family: 'Reem Kufi', sans-serif;
}

.Kotak1 img{
    width: 120px;
    height: auto;
    padding-left: 50px;
}


.Footer{
  width:auto;
  height: 350px;
  background-color:#E4673D ;
  padding: 30px;
  justify-content: center;
}
.Follow{   position: relative;
padding-left: 15px;
  overflow: hidden;
  justify-content: center;
  padding-top: 35px;
}
.Follow h3{
  float: left;
  padding-right: 30px;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 35px;
  color:white;
  
  justify-content: center;
}
.socmed img{ 
  padding-left: 15px;
  width:  45px;
  height: auto;
  padding-right: 15px;
  justify-content: center;

}

.Contact{
  padding-top: 15px;
}
.Contact a{ 
  text-align: right; 
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 35px;
  font-family: 'Reem Kufi', sans-serif;
  position: relative;
  float:left;

}